//-------------STYLE FOR INDEX----------------
@import "custom";


//=========================================
//           HEADER
//=========================================
//header general
#header
{  
  height: 400px; 
  margin-top: -20px;
  
  background-color: $belize-hole;
  color: $clouds;
  
  h1
  {
    font-size: 4em;
    margin-bottom: 0px;
  }
  
  h3
  {
    margin-top: 0px;
  }
  
}

//Header with title
#header-center
{  
  width: 600px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

//=========================================
//           LINE DECOR
//=========================================
//Line of the triangles
.line-decor
{
  width:100%;
  height:20px;
}

.line-decor-blue
{
  @extend .line-decor;
  background-image: image-url("line-blue.png");
}

.line-decor-white
{
  @extend .line-decor;
  position: relative;
  background-image: image-url("line-white.png");
  margin-bottom: -20px;
  z-order: 10;
}

.line-decor-clouds
{
  @extend .line-decor-white;
  background-image: image-url("line-clouds.png");
}


//======================================================
//           Table for comparing versions
//======================================================

//Highlighted cells
.table-caption
{
  color: $clouds;
  background-color: $midnight-blue;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
}

//Table
.price-table
{
  width: 700px;
  font-size: 1em;
  margin: 10px auto;
  box-shadow: 0 2px 0 0 $midnight-blue;

  tr:nth-child(2n)
  {
    background-color: #e9f4f8;
    
  }

  //Border to separate columns
  .bordered-tr
  {
    td:last-child
    {
      border-right: 2px solid #d35400;
      border-left: 2px solid #d35400;
    }
  }
  
  td
  {
    text-align: center;
  }
  
  //Highlighted caption
  .good-caption
  {
    @extend .table-caption;
    background-color: #d35400;
    
    border-radius: 10px 10px 0 0;
  }

}
