//=========== GENERAL PARAMETRS ====================
//Material design blue
/*$main:        #03A9F4;
$main-light:  #3498db;
$main-dark:   #0277BD;
$main-darker: #1A5A80;
$accent:      #FFC107;
$accent-dark: #FF6F00;
$grey:        #DCDCDC;*/


//flat ui green
/*$main:        #1abc9c;
$main-light:  #80CBC4;
$main-dark:   #16a085;
$main-darker: #00695C;
$accent:      #e67e22;
$accent-dark: #d35400;
$grey:        #DCDCDC;*/


//materialdesign green (teal)
$main:        #009688;
$main-light:  #80CBC4;
$main-dark:   #00695C;
$main-darker: #004D40;
$accent:      #e67e22;
$accent-dark: #e67e22;
$grey:        #DCDCDC;
$dark-grey:   #b3b3b3;

$menu-height: 50px;
//=====================  GENERAL ===================
//Roboto font
@font-face
{
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);

  font-weight: 400;
  font-style: normal;
}

@font-face
{
  font-family: Roboto;
  src: url(Roboto-Light.ttf);

  font-weight: 300;
  font-style: normal;
}

//General settings
html, body
{
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: Roboto;
  font-weight: 300;
  background-color: $grey;
}

a
{
  color: #1173a6;
  &:visited
  {
    color: #699db8;
  }
  &:hover
  {
    color: #19a6f0;
  }
}

//================== MENU ==========================
//Desctop menu style
#nav_pc
{
  display: none;
  //display: inline-block;
}

//Mobile menu style
#nav_mobile
{
  display: inline-block;
  //display: none;
}


//----------------- DESCTOP MENU -----------------
//Menu bar
.menu
{
  position: fixed;

  width: 100%;
  height: $menu-height;

  padding-left: 10px;
  padding-right: 10px;

  background-color: $main-dark;

  color: #FFFFFF;
  font-size: larger;

  transition: box-shadow 0.2s linear;

  //Menu button
  .menu-item
  {
    display: inline-block;

    width: 150px;
    height: 40px;

    text-decoration: none;

    padding-top: 10px;
    text-align: center;

    transition: 0.2s linear;

    &:hover
    {
      //box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
      background-color: $main-darker;
    }

    &:visited
    {
      color: #FFFFFF;
    }
  }

  //Login button - right alignment
  .login-button
  {
    position: absolute;
    right: 0;
    top: 0;
  }

}

//---------- MOBILE MENU ------------------
//Menu openning button
.menu-button
{
  width: 50px;
  height: 50px;

  transition:  0.2s linear;
  background-position: 50% 50%;
  background-image: image-url("icon_menu.png");

  &:hover
  {
    width: 50px;
    height: 50px;
    background-color: $main-light;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.7);
  }
  
}

//Mobile side menu
#nav_mobile_menu
{
  position: fixed;
  left:-300px;

  max-width: 300px;
  width: 90%;
  height: 100%;

  background-color: #FFFFFF; //$grey;
  box-shadow: 0 0 10px rgba(0,0,0, 0.7);
  z-index: 20;

  transition: 0.3s linear;

  color: #000000;
  font-size: larger;
}

//dark field
#nav_mobile_dark
{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.4);
  z-index: 18;
}

//Menu item
.mobile-menu-item
{
  display: block;
  width: 100%;
  height: 50px;

  background-color: $grey;

  text-decoration: none;

  padding-top: 20px;
  text-align: center;

  transition: 0.2s linear;

  &:hover
  {
    background-color: $dark-grey;
  }
  &:visited
  {
    color: #000000;
  }

}

//===================== CARDS ======================
//Container for all cards
.content
{
  margin-top: -50px;
}

//card
.card
{

  display: block;

  max-width: 1300px;
  width: 95%;
  min-height: 150px;

  margin: 10px auto;

  border-radius: 2px;

  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0,0,0, 0.7);

  font-weight: 400;

  //Card tittle
  .card-tittle
  {
    display: inline-block;
    width: 100%;
    height: 39px;

    border-bottom: solid 1px #999999;

    color: $accent-dark;
    font-size: larger;

    //Tittle in tittle. This is it, becouse padding do some bugs
    span
    {
      display: inline-block;
      margin: 7px 5px 5px 5px;
    }
  }

  .card-content
  {
    display: block;
    padding: 7px;
  }
}


//=================== FOOTER =======================
.page
{
  min-height: 100%;
}

.wrapper
{
  height: 50px;;
}

footer
{
  width: 100%;
  height: 50px;

  margin-top: -50px;

  background-color: $main-dark;
  color: #FFFFFF;
}

.footer-align
{
  display: table-cell;
  height: 30px;

  padding: 10px;

  vertical-align: middle;
}