//----------------STYLE FOR TRANSLATOR----------------
@import "custom";

.code-editor
{
	display: inline-block;
	width: 49%;
	height: 300px;
	background-color: #FFFFFF;
}

#control-panel
{
	display: inline-block;
	position: absolute;

	margin: 5px 0 0 0;

	bottom: 50px;
	left: 0;
	height: 200px;
	width: 100%;
	max-width: 100%;

	background-color: #FFFFFF;
}

textarea
{
	display: block;
	width: 300px;
	height: 300px;
	margin: 0;
	padding: 5px;
	resize: none;
}

.button
{
	display: inline-block;
	background-color: $main;

	border-radius: 80px;
	width: 20px;
	height: 20px;

	font-size: larger;
	color: #FFFFFF;

	padding: 30px;

	transition: 0.2s linear;

	&:hover
	{
		box-shadow: 0 0 20px rgba(0,0,0,0.7);
	}

	&:active
	{
		box-shadow: none;
		background-color: $main-dark;
	}
}

.control-alignment
{
	width: 250px;
	height: 80px;
	margin: 0 auto;
	border: 1px solid;
}