<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		 <%= stylesheet_link_tag "custom.css" %>
		<title>Транслятор</title>
	</head>
	<body>
		<nav class="nav-panel">
			<ul>
				<a href="../../"><li>Главная</li></a><!--
				--><a href="../../translator/index"><li>Транслятор</li></a><!--
				--><a href=""><li class="last-element">Мой код</li></a>
				<a href="../../login/index"><li class="right-item">Вход</li></a>
			</ul>
		</nav>
		<div style="height:50px;">
		</div>
		
		<header>
			
		</header>
		
		<div class="container-fluid">
			Регистрация
		</div>
		
		<div id="footer" class="navbar-fixed-bottom ">
      		<div class="container-fluid">
        		<p class="text-muted">Запилил Dark Coder</p>
      		</div>
    	</div>
    	
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	</body>
</html>


